{% extends "layout.html" %}
{% block main %}
<div>
    <div class="row text-center vh-100">
        <div class="col-sm orange center">
            <div style="width: 100%;">
                <h1>Hello World</h1>
                <p>Some text to display</p>
            </div>
        </div>
        <div class="col-sm gold center">
            <div style="width: 100%;">
                <form action="{{ url_for('preview') }}" method="post" enctype="multipart/form-data">
                    <label for="file" class="form-label h5">Choose a file to Upload</label>
                    <input id="image" type="file" name="file" class="form-control form-control-lg" name="image"
                        accept=".jpeg,.jpg,.png" required>
                    <br><br>
                    <input type="submit" class="btn my-btn" value="Upload">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}